@import "tailwindcss";

:root {
  --clr-main-dark: #000929;
  --clr-main-white: #FFFFFF;
  --clr-main-primary: #7065f0;
  --clr-main-primary-hover: #796ff0;
  --clr-main-secondary: #100a55;
  --clr-main-secondary-hover: #1b1558;
  --clr-main-third: #555187;
  --clr-main-bg: #403b77;
  --clr-main-disabled: #807da8;
  --clr-gray-600: #4d5461;
  --clr-gray-700: #7b8093;
  --clr-gray-800: #b7b5cc;
  --clr-purple-shade: #e0def7;
  --clr-purple-shade-2: #f7f7fd;
  --clr-purple-shade-3: #edecf9;
  --clr-hero-background-mobile: #f7f7fd;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media all and (min-width: 640px) and (max-width: 1718px) {
  .hero-right {
    display: none;
  }
}