@import "tailwindcss";

:root {
  --clr-main-dark: #000929;
  --clr-main-white: #FFFFFF;
  --clr-main-primary: #7065f0;
  --clr-main-secondary: #100a55;
  --clr-main-third: #555187;
  --clr-gray-600: #4d5461;
  --clr-purple-shade: #e0def7;
  --clr-purple-shade-2: #f7f7fd;
  --clr-hero-background-mobile: #f7f7fd;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}